@model IEnumerable<MVC_ArsonProject.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2>帳號列表</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Account)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.role)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Account)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.role)
            </td>
        </tr>
    }

</table>



