@section Breadcrumb {
    <ul class="breadcrumb">
        <li>首頁</li>
        <li>聯絡我們</li>
        <li><a href="#"> 聯絡我們</a></li>
    </ul>
}

<section id="main-container" class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="sidebar sidebar-right">
                    <div class="widget">
                        <h2 class="widget-title">
                            <i class="fa fa-folder-open-o">&nbsp;</i>聯絡我們
                        </h2>
                        <ul class="arrow nav nav-tabs nav-stacked">
                            <li class="active"><a href="#">聯絡我們</a></li>
                        </ul>
                    </div>

                    <!-- Categories end -->
                </div>
                <!-- Sidebar end -->
            </div>
            <!-- Sidebar Col end -->

            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <h2 class="page-title">聯絡我們</h2>
                <hr class="botmargin-min" />
                <!-- 內容開始 -->

                <table class="table table-striped career-table download-table">
                    <thead>
                        <tr>
                            <th>您的意見已經送出!</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>如有任何問題或意見，請聯繫再我們. 感謝您!</td>
                        </tr>
                    </tbody>
                </table>

                <!-- Content row 1 end -->
                <!-- 內容結束 -->

                <div class="tags-area clearfix">
                    <div class="share-items pull-right" style="display: none">
                        <ul class="post-social-icons unstyled">
                            <li>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Content Col end -->
        </div>
        <!-- Main row end -->
    </div>
    <!-- Conatiner end -->
</section>
<!-- Main container end -->
